<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>MovieFlix</title>
  </head>
  <body>
    <div><h3 style="text-align: center;margin-top: 2rem;font-size: 60px;font-family: Arial;text-shadow: 0 0 3px #FF0000">MovieFlix</h3></div>  
    <form action="index.html" method="POST" style="max-height: 50%;max-width:70%;margin-top: 2rem;margin-left: 13rem;border:1px solid black;border-radius: 20px;box-shadow:0 0 15px blue">
        <div class="row" style="margin-left: 2rem;margin-top: 2rem;margin-right: 2rem;margin-bottom: 2rem">
            <div class="col" style="margin-top: 2rem">
                <div class="card">
                    <div class="card-header">
                    <h1 style="font-size: 30px">Login</h1>
                    </div>
                    <div class="card-body d-flex flex-column">
                    <div class="form-group">
                    <input type="text" name="login_input" class="form-control" placeholder="Username/Email">
                    </div>
                    <div class="form-group">
                    <input type="password" name="login_password"  class="form-control" placeholder="Password">
                    </div>
                    <a href="#" class="mt-auto btn btn-primary">Submit</a>
                    </div>
                </div>
            </div>
            <div class="col" style="margin-left: 5rem">
                <div class="card">
                    <div class="card-header">
                    <h2 style="font-size: 30px">Sign Up</h2>
                    </div>
                    <div class="card-body d-flex flex-column">
                    <div class="form-group">
                    <input type="text" name="sign_up_username" class="form-control" placeholder="Enter Username">
                    </div>
                    <div class="form-group">
                    <input type="text" name="sign_up_email" class="form-control" placeholder="Enter Email ID">
                    </div>
                    <div class="form-group">
                    <input type="password" name="sign_up_password" class="form-control" placeholder="Enter Password">
                    </div>
                    <a href="#" class="mt-auto btn btn-primary">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>